# Automatically created by: scrapy startproject
# scrapy 프로젝트들의 전체적인 설정을 하는 곳. 어떤 프로젝트가 어떤 설정을 따를 것인지 배포는 어떤 식으로 할 것인지를 정한다.
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = crawler.settings

[deploy]
#url = http://localhost:6800/
project = crawler
